footer {
    background-color: white;
    margin: 0;
}


.footer-section {
    text-align: center;
    margin: 30px;

    .footer-icono {
        color: #1259c3;
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 20px;

        .footer-p {
            font-size: 12px;
        }
    }
}

.nav-footer-copyright {
    font-size: 10px;
    margin-left: 20px;
}

@media (min-width:1024px){

    .footer_div{
        display: flex;
        justify-content:space-around;

        .footer-section{
            width: 20%;
        }

    }

    /* MOVIMIENTOS */

    .footer-section:hover{

        border: 1px solid #03264C;

        .footer-icono{

            color:  #03264C;
        }

    }


}