header {
    background-color: #EAC926;
    padding: 2vw;
    margin: 0;
}

#logo {
    height: 10vw;
    margin: 4vw;
}

.input_search_bar {
    width: 200px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    margin-top: 10px;
}

h1 {
    font-size: 12px;
    text-align: center;
}

.icono-mano {
    margin-right: 5px;
}

.nav_icons {
    margin-left: 5px;
}

.nav-menu-link {
    text-align: left;
}

.nav-menu-burger {
    display: flex;
    justify-content: center;
}

.burger-menu {
    text-align: center;
    background-color: #1259c3;
    color: white;
    font-size: 25px;
    width: 30px;
    padding: 5px;
    border-radius: 10%;
}

ul {
    padding: 0;
}

.nav_tablet_desktop {
    display: none;
}

@media (min-width:768px){
    .nav-menu-burger {
        display: none;
    }

    .nav_tablet_desktop {
        display: block;
    }

    li {
        display: inline;
        font-size: 18px;
    }

}


@media (min-width:1024px){
    
}