@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #ebebeb;
    font-family: Roboto;
    margin: 0;
    font-size: 12px;
}

.banner {
    width: 100%;
}

/* CONTENEDOR ÚLTIMA VISTA Y OFERTAS */

.section_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    /* ÚLTIMA VISTA Y OFERTAS */

    .h2-home {
        font-size: 24px;
        color: #666;
        width: 100%;
        margin-left: 20px;
    }

    /* ART PRODUCTOS */

    .productos {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 25px;
        text-align: center;
        width: 90%;
    }

    .img {
        width: 100%;
    }

    .article-div {
        border-top: solid 1px #ebebeb;
        margin: 20px;
        text-align: start;
    }

    .span_circle_camion {
        position: relative;
        border: solid #39b54a 1px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 3px;
        float: right;
        margin-top: -15px;

        .icon-camion {
            color: #39b54a;
            font-size: 16px;

        }
    }

    /* DIV DENTRO DEL ARTÍCULO */

    .div_precio_descuento {
        display: flex;

        .precio {
            font-size: 18px;
            flex-grow: 0.3;

        }

        .descuento {
            color: #39b54a;
            font-size: 16px;
            flex-grow: 0.7;
        }
    }

    /* DESCRIPCIÓN ART: CAFETERA Y OTROS */

    h3 {
        display: none;
    }

    h3,
    h4 {
        color: #666;
        font-size: 16px;
    }
}



/* TABLET */

@media (min-width:768px) {
    
    .section_container {
        
        .productos {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
            width: 40%;

            h3 {
                display: block;
            }
        }
    }


}

/* DESKTOP */

@media (min-width:1024px) {
    .section_container {
        display: flex;
        flex-wrap: wrap;


        .productos {
            width: 20%;
            box-shadow: none;
            margin-bottom: 20px;

            h3{
                visibility: collapse;
            }

            .img {
                width: 100%;
            }


        }

        /* MOVIMIENTOS */


        .productos:hover {
            box-shadow: 0px 0px 10px rgb(100, 100, 100);

            h3{
                visibility: visible;
            }
            
            .icon-camion {
                transform: rotate(-90deg);
    
            }
        }
        

    }

}